<!DOCTYPE html>
<html lang="">
	<head>
		<title>
			Start Timer
		</title>
	</head>
	<body>
		<h1>Start Your Timer!</h1>
		<button id="start">Get Goat</button>
		<button id="break">End Goat</button>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script type="application/javascript">
			console.log("Hello");
			startData = {
			"text" : "GGGGGOOOOOOOOOOOOOOOOAAAAAAAAAAATTTTTTTTTTTTTT WORK\n POMO BEGIN."
			};

			breakData = {
				"text" : "The break is yours!\nEveryone take a shot!\nTake it!\nIf you want. Pet HotWheels."
			};
			function startMessage(){
				$.ajax({
					method : "post",
					url : '<%= @url %>',
					data : JSON.stringify(startData),
					success : function (res){
						console.log("Worked");
						setTimeout(breakMessage, 1500000);
					},
					error : function(res){
						console.log(resp.responseText);
					}
				})
			}
			function breakMessage(){
				$.ajax({
					method : "post",
					url : '<%= @url %>',
					data : JSON.stringify(breakData),
					success : function (resp){
						console.log("Worked");
						setTimeout(startMessage, 300000);
					}
				})
			}	
			function sendMessge(jsonText){
				$.ajax({
					method : "post",
					url : '<%= @url %>',
					data : JSON.stringify(jsonText),
					success : function (res){
						console.log("Worked");
					},
					error : function(res){
						console.log(resp.responseText);
					}
				})	
			}
			$(document).ready(function(){
				$("#start").click(function () {
					startMessage();
				});
				$("#break").click(function () {
					breakMessage();
				});
			})
		</script>		
	</body>
</html>
