<!DOCTYPE html>
<html lang="">
	<head>
		<title>
			I'm Taco Driver!
		</title>
	</head>
	<body>
		<h1>I'm Taco Driver! Drive Me!!!!!</h1>
		<a href="#" id="timerLink" style="display: none" target="_blank">Hello</a> 
		<label>How much time to put on timer.</label>
		<input type="text" id="timerElement" />
		<button id="start">Start With GW Only</button>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script type="application/javascript">
			console.log("Hello");
			var everyOne = ['Jay', 'Craig', 'Annie', 'Jakob', 'Alex', 'Kelly'];			
			function startMessage(message){
				$.ajax({
					method : "post",
					url : '<%= @url %>',
					data : JSON.stringify(message),
					success : function (res){
						console.log("Worked");
					},
					error : function(resp){
						console.log(resp.responseText);
					}
				})
			}
			function initText1(manager, cWhip, keeper){
				var text = "Hello. I'm Driver Taco. The timer has been started! \n";
				text += "<https://getworkers.atlassian.net/wiki/display/CORE/How+to+do+a+daily+check-in | Here's the check in doc>\n";
				text += "*I've already decided the roles!*\n";
				text += "*Driver:* Annie\n";
				text += "*Manager:* " + manager + "\n";
				text += "*Calandar Whip:* " + cWhip + "\n";
				text += "*TimeKeeper:* " + keeper + "\n";
				text += "*Thank Teller:* Craig.";
				return text;
			}
			function initText2(driver, teller){
				var timeUntilTimerStarts = parseInt(document.getElementById('timerElement').value) - 3;
				var text = "Hello. I'm Driver Taco. The timer will start in " + timeUntilTimerStarts + " minutes\n";
				text += "<https://getworkers.atlassian.net/wiki/display/CORE/How+to+do+a+daily+check-in | Here's the check in doc>\n";
				text += "*I've decided some roles!*\n";
				text += "*Driver:* " + driver + "\n";
				text += "*Thank Teller:* " + teller + "\n";
				text += "Manager, Time Keeper, and Calendar Whip will be decided by the driver during the check in."
				return text;
			}
			function getRandomInt(min, max) {
  				return Math.floor(Math.random() * (max - min + 1) + min);
			}
			
			$(document).ready(function(){
				$("#start").click(function () {
					var getWorkers = ['Jay', 'Craig', 'Annie', 'Jakob'];
					var calendarIndex = getRandomInt(0, 3);
					var calendarWhip = getWorkers[calendarIndex];
					getWorkers.splice(calendarIndex, 1);
					getWorkers.push('Alex');
					getWorkers.push('Kelly');
					var timerIndex = getRandomInt(0,4);
					var timer = getWorkers[timerIndex];
					getWorkers.splice(timerIndex, 1);
					var craigIndex = getWorkers.indexOf('Craig');
					var managerIndex = getRandomInt(0,3);
					if(craigIndex > -1){
						getWorkers.splice(craigIndex, 1);
						managerIndex = getRandomInt(0,2);
					}
					var manager = getWorkers[managerIndex];
					var startCheckIn = {
						"text" : initText2("Annie", "Craig")
					};
					startMessage(startCheckIn);
					var timerMinutes = document.getElementById('timerElement').value;
					if(timerMinutes === ""){
						var date = new Date();
						var minutes = date.getMinutes();
						var extraMinutes = 60 - minutes;
					 	timerMinutes = 3;
						if(extraMinutes > 0){
							timerMinutes += extraMinutes;
						}
					}
					window.open("http://google.ca/search?q=" + timerMinutes + "+minute+timer", '_blank');
					window.open("https://plus.google.com/hangouts/_/getworkers.ca/daily-check-in", '_blank');
				});
			})
		</script>		
	</body>
</html>
